@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
}

.btn-reset {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

.content {
	background-color: aqua;
	min-height: 200vh;
	padding: 50px;
}